name: Benchmark

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: mlugg/setup-zig@v1 
        with:
          version: master

      - name: Run zig fmt
        run: zig fmt --check .

      - name: Run Benchmark
        run: zig build bench -Doptimize=ReleaseFast
