name: Code Coverage

on:
  workflow_call:
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - uses: mlugg/setup-zig@v1 
        with:
          version: master

      - name: Install Anvil
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Anvil
        run: anvil --fork-url $ANVIL_FORK_URL --fork-block-number 19062632 --ipc --port 6969 &
        env:
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}

      - name: Install kcov
        run: |
          wget https://github.com/SimonKagstrom/kcov/releases/download/v42/kcov-amd64.tar.gz
          sudo tar xf kcov-amd64.tar.gz -C /

      - name: Fix kcov dependencies
        run: |
          cd /usr/lib/x86_64-linux-gnu/
          sudo ln libopcodes-2.42-system.so libopcodes-2.38-system.so || echo libopcodes not found
          sudo ln libbfd-2.42-system.so libbfd-2.38-system.so || echo libbfd not found

      - name: Build
        run: zig build

      - name: Run Tests with kcov
        run: |
          kcov --version
          zig build coverage -freference-trace
        env:
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}
          ANVIL_FORK_URL_SEPOLIA: ${{ secrets.ANVIL_FORK_URL_SEPOLIA }}
          ANVIL_FORK_URL_OP_SEPOLIA: ${{ secrets.ANVIL_FORK_URL_OP_SEPOLIA }}
          
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: zig-out/coverage/zabi-tests-coverage
          fail_ci_if_error: true
          verbose: true
