name: Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: master

      - name: Install Anvil
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Anvil
        run: anvil --fork-url $ANVIL_FORK_URL --fork-block-number 19062632 --ipc --port 6969 &
        env:
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}

      - name: Get Zig version
        id: zig_version
        run: echo "zig_version=$(zig version)" >> $GITHUB_OUTPUT

      - run: zig env

      - name: Run zig fmt
        run: zig fmt --check .

      - name: Build
        run: zig build

      - name: Run Tests
        run: zig build test -freference-trace
        env:
          ANVIL_FORK_URL: ${{ secrets.ANVIL_FORK_URL }}
          ANVIL_FORK_URL_SEPOLIA: ${{ secrets.ANVIL_FORK_URL_SEPOLIA }}
          ANVIL_FORK_URL_OP_SEPOLIA: ${{ secrets.ANVIL_FORK_URL_OP_SEPOLIA }}
